

body{background-color: green;	
	border: solid;
	margin: 100px;
	padding: 50px;}

h2{text-decoration: underline;
	color: red}
h3{color: red;
	font-family: sans-serif;}
p{font-size: 20px;
	font-style: serif;}
ul{font-style: oblique;}
a{color: purple;}
#me{color: blue}
#div1{background-color: grey;
	position: relative;}
#div2{background-color: aquamarine;}
#div3{background-color: black}
p.likes{color: gold}
#div4{background-color: navy;}

body{background-color: green;}
